{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row my-3">
     <div style="background-color: aliceblue;" class="col-sm-6 offset-sm-3">
      <h3>Customer Registration</h3>
      <hr>
      
      <form action="" method="post" class="shadow p-5">
        
        {% if msgs %}
        <p class="alert alert-success mb-5">{{msgs}}</p> 
        {% elif msge %} 
        <p class="alert alert-danger mb-5">{{msge}}</p>
        {% endif %}
        
        {% csrf_token %}
        {% for fm in myform %}
         <div class="form-group mb-3">
         {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors}}</small>
         </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary">
        <br>
        <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}" class="text-danger">Login Now</a> </small></div>
       </form>
     </div>
    </div>
   </div>

{% endblock body %}
    
    